* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Poppins", sans-serif;
}

body {
    background-color: #fff;
    color: #629D8A;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 0.5;
    background-color: #629D8A;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: left;
    padding: 0 60px;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 350px;
}

.left-side h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.left-side .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* FORMULÁRIO */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
}

button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #fff;
    color: #629D8A;
}

.register-text {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.register-text a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

.right-side {
    flex: 1;
    background-color: #fff;
    color: #629D8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
}

.logo img {
    width: auto;
    height: auto;
}

.right-side h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.right-side p {
    font-family: "Poppins", sans-serif;
    color: #629D8A;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

/* Ícone central */
.profile-icon {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon .ellipse {
    width: auto;
    height: auto;
    object-fit: contain;
}

.profile-icon .edit-icon {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: contain;
}
